<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>test list</title>
    <style>
        body
        {
            background-repeat:repeat;
            background-color:#cccccc;
            margin-left: auto;
            margin-right: auto;
            background-image: url('img/bkgTileGrid002.gif');

        }
        .gridStyle {
            border: 1px solid rgb(212,212,212);
            width: 700px;
            height: 500px;

        }
        .center{
            margin: auto;
            width: 75%;
        }
    </style>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.css">

</head>
<body>

<br/><br/><br/><br/><br/><br/>

<!--div  ng-grid="gridOptions">
</div-->
<div class="center">
    <p>
    <h1>All All Services</h1>
    </p>

    <div  class="gridStyle" ng-grid="gridOptionsSvc"></div>
    <ul class="nav nav-pills">
        <li ng-class="{ active: isSelected(1)}">
            <a href ng-click="selectTab(1)">Y1564 Tests</a>
        </li>
        <li ng-class="{ active: isSelected(2)}">
            <a href ng-click="selectTab(2)">ABM Tests</a>
        </li>
    </ul>
    
</div>

<br/><br/><br/><br/><br/><br/>

<script src="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.debug.js"></script>
<!--script src="../lib/jolokia/jolokia.js"></script>
<script src="../lib/json2/json2.js"></script-->

<div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>





<script>
    function testListController($scope)
    {
        $scope.testListData = [{name: "Moroni", age: 50},
            {name: "Tiancum", age: 43},
            {name: "Jacob", age: 27},
            {name: "Nephi", age: 29},
            {name: "Enos", age: 34}];
        $scope.testListOptions = {
            data: 'testListData',
            showGroupPanel: true};

    }
</script>

</body>
</html>