<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>test list</title>
    <style>
        body
        {
            background-repeat:repeat;
            background-color:#cccccc;
            margin-left: auto;
            margin-right: auto;

        }
        .gridStyle {
            border: 1px solid rgb(212,212,212);
            width: 700px;
            height: 500px;

        }
        .center{
            margin: auto;
            width: 75%;
        }
    </style>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.css">

</head>
<body>

<br/><br/><br/><br/><br/><br/>

<div  class="center">
    <p>
    <h1>MIB Prameters, saved in DB</h1>
    </p>

    <div  class="gridStyle" ng-grid="gridOption"></div>
</div>

<br/><br/><br/><br/><br/><br/>

<script src="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.debug.js"></script>

<script>
    function localCtl($scope)
    {

        $scope.testListData = [{name: "Moroni", age: 50},
            {name: "Tiancum", age: 43},
            {name: "Jacob", age: 27},
            {name: "Nephi", age: 29},
            {name: "Enos", age: 34}];
        $scope.testListOptions = {
            data: 'testListData',
            showGroupPanel: true};

    }
</script>



</body>
</html>